@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #3F6212;
    --card: #FFFFFF;
    --card-foreground: #3F6212;
    --popover: #FFFFFF;
    --popover-foreground: #3F6212;
    --primary: #3f6212;
    --primary-foreground: #B0D3E6;
    --secondary: #C3E3F2;
    --secondary-foreground: #047857;
    --muted: #C3E3F2;
    --muted-foreground: #5C4B6A;
    --accent: #C3E3F2;
    --accent-foreground: #1C2C3A;
    --destructive: #F0A3A6;
    --destructive-foreground: #B0D3E6;
    --border: #D9E7EB;
    --input: #D9E7EB;
    --ring: #1D5B93;
    --radius: 0.5rem;
    --chart-1: #F2A900;
    --chart-2: #A66E35;
    --chart-3: #2C4550;
    --chart-4: #B5E0A8;
    --chart-5: #B9C8A5;
  }

  .dark {
    --background: #1D5B93;
    --foreground: #B0D3E6;
    --card: #1D5B93;
    --card-foreground: #B0D3E6;
    --popover: #1D5B93;
    --popover-foreground: #B0D3E6;
    --primary: #B0D3E6;
    --primary-foreground: #1C2C3A;
    --secondary: #3A3B3D;
    --secondary-foreground: #B0D3E6;
    --muted: #3A3B3D;
    --muted-foreground: #D1C6A5;
    --accent: #3A3B3D;
    --accent-foreground: #B0D3E6;
    --destructive: #F0A3A6;
    --destructive-foreground: #B0D3E6;
    --border: #3A3B3D;
    --input: #3A3B3D;
    --ring: #D7E3E1;
    --chart-1: #D3A300;
    --chart-2: #A0A023;
    --chart-3: #D9C24C;
    --chart-4: #D4B2D3;
    --chart-5: #E3A06D;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
